<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron profile-jumbotron">
  <div class="container">
    <div class="row profile">
      <div class="col-sm-5 profile-left">
        <h2>Eric Zhang</h2>
        <h3>Web Developer</h3>
      </div>
      <div class="col-sm-2 profile-center">
        <img class="img-circle profile-image-lg" src="images/profile.jpg" />
      </div>
      <div class="col-sm-5 profile-right">
        <h2>Connect with me</h2>
        <a href="https://www.linkedin.com/in/eric-zhang-11569347"><span class="icon icon-linkedin profile-icon-social"></span></a>
        <a href="https://github.com/ewic"><span class="icon icon-github profile-icon-social"></span></a>
        <a href="https://www.instagram.com/TheEwic/"><span class="icon icon-instagram profile-icon-social"></span></a>
      </div>
    </div>
  </div>
</div><!-- jumbotron -->

<div class="row">

</div>